body {
    width: auto;
    height: auto;
}

.base-container {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: [side] 20% [main] auto [end];
    grid-template-rows: [nav] 10% [main] auto [end];
}

.navbar {
    grid-column-start: side;
    grid-column-end: end;
    grid-row: nav;

    display: flex;
    justify-content: space-between;
}

.content {
    grid-column: main;
    grid-row: main;
}

.sidebar {
    grid-column: side;
    grid-row: main;
}

.enter-form-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}