body {
    width: auto;
    height: auto;
}

.base-container {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: [side] 15% [main] auto [end];
    grid-template-rows: [nav] min-content [main] auto [secret] min-content [end];
}

.ctf-navbar {
    grid-column-start: side;
    grid-column-end: end;
    grid-row: nav;
}

.ctf-navbar-left {
    display: flexbox;
    align-items: center;
}

.ctf-navbar-welcome {
    margin-right: 10px;
}

.content {
    grid-column: main;
    grid-row: main;
}

.secret {
    grid-column: main;
    grid-row: secret;
}

form {
    display: flex;
}

.sidebar {
    grid-column: side;
    grid-row-start: main;
    grid-row-end: end;

    padding-top: 5%;
}

.enter-form-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}